@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Nunito&display=swap');

.featureSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
}

.featureText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
}

.featureHeader {  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
    margin-left: 2rem;
}

.featureTitle {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.featureSubtext {
    width: 389px;
    height: 86.89px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #6B6B6B;
    margin-bottom: 128px; /* hardcoded white space */
}

.bubbleLeft {
    position: absolute;
    top: 50%;
    left: 133px; /* Adjust this value as needed */
    transform: rotate(180deg);
    overflow: hidden;
}

.bubbleRight {
    position: absolute;
    top: 50%;
    right: 133px; /* Adjust this value as needed */
    transform: translateY(-50%);
}

.linePadding {
    padding-top: 320px;
}