@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Nunito&display=swap');

.overflow-hidden {
    overflow: hidden;
 }

.screenContainer {
    background-color: #F7FAFC;
    overflow: hidden;
}

.subtitle img {
    max-width: 42px; 
    max-height: 40%; 
    margin-right: 0.5em; 
}

.subtitle {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    margin-top: 76px;
    /* line-height: 36px; */
}

.subtitle:hover {
    cursor: pointer;
}

.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    padding-bottom: 1rem;
    z-index: 1;
}

.formInput {
    margin-top: 10px;    
}

.cover {
    background-color: white;
    position: relative;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    width: 596px;
    height: 650px;
    display: flex;
    flex-direction: column;
    padding-left: 36.5px;
    /* z-index: 2; */
}

.logInput {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    width: 523px;
    height: 50px;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 4px #B9E1F2;
    border-radius: 15px;
    margin-bottom: 0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: black;
}

.cover p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    justify-self: left;
}

.btn {
    appearance: none;
    border: none;
    width: 523px;
    height: 39px;
    background: #000000;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin-top: 10px;
}

.backBtn {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 24.5rem;
    z-index: 1;
}

.backBtn:hover {
    /* text-decoration-line: underline; */
    cursor: pointer;
}

.cover form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.horizontalLine {
    width: 334px;
    height: 0px;
    border: 1px solid #424242;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.signupPrompt {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.signupText {
    color: #0076C2;
    margin-left: 0.5rem;
    text-decoration: none;
}

.loginLabel {
    font-family: Montserrat;
    font-size: 15px;
    margin-top: 5px;
}

.bleedingCircles {
    position: absolute;
    top: -150px;
    /* z-index: -1; */
}

.messages {
    font-family: 'Montserrat';
    font-size: 8px;
}

.span {
    font-family: 'Montserrat';
    font-size: 12px;
    padding: 2px;
    margin-bottom: 4px;
    color: red;
    display: none;
}

.logInput:invalid[focused="true"]{
    border: 1px solid red;
}

.logInput:invalid[focused="true"] ~ .span{
    display: block;
}