@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Nunito&display=swap');

.QuizPage {
	text-align: center;
}

body {
	background-color: rgb(217, 233, 240);
}

.fontLink h1 {
	text-align: justify;
	margin-left: 10rem;
}

h3 {
	text-align: justify;
	margin-left: -5rem;
	align-items: center;
}

h5 {
	width: auto;
	height: auto;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #6B6B6B;
	margin-left: 10rem;
	text-align: justify;
}

h6 {
	width: 50%;
	height: auto;
	align-items: center;
	justify-content: center;
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #6B6B6B;
	margin-left: 25%;
}

.general {
	background-color: rgb(121, 55, 55);
	justify-items: flex-start;
	padding: 16px;
	border-radius: 16px;
	width: 100%;
	height: auto;
}

.general2 {
	margin: auto;
	background-color: rgb(40, 30, 30);
	justify-items: flex-end;
	padding: 16px;
	border-radius: 16px;
	width: 50%;
	height: 100px;
}

.general3 {
	width: 400px;
	height: 50px;
	text-align: justify;
	background-color: white;
	justify-items: flex-start;
	padding: 16px;
	border-radius: 16px;
}

.general4 {
	width: 400px;
	height: 50px;
	text-align: justify;
	background-color: yellow;
	justify-items: flex-end;
	padding: 16px;
	border-radius: 16px;
}

.questionCard {
	margin: 0 auto;
	background-color: lightgray;
	justify-items: flex-start;

	padding: 16px;
	border-radius: 16px;
	color: white;
	box-shadow: rgba(50, 50, 93, .25) 0px 30px 60px -12px,
		rgba(0, 0, 0, .3) 0px 18px 36px -18px;
	width: 50%;
	height: auto;
}

ul {
	list-style: none;
}

.questionText {
	margin-top: 40px;
	color: black;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	font-family: 'Nunito';
}

.questionTitle {
	margin-top: 40px;
	color: black;
	font-size: 30px;
	font-weight: 550;
	text-align: center;


}


.nextBox {
	margin: auto;
	background-color: rgb(217, 233, 240);
	padding: 16px;
	border-radius: 16px;
	color: white;
	width: 80%;
	height: 20px;
	text-align: start;
}

.space {
	margin: auto;
	background-color: rgb(217, 233, 240);
	width: 100px;
	height: 20px;
}

.box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px 2em;
}

.box :first-child {
	align-self: center;
}

.test {
	margin: 0 auto;
	border: 2px solid rgb(9, 147, 191);
	width: 550px;
	height: 360px;
	text-align: justify;
	background-color: D9D9D9;
	justify-items: flex-start;
	padding: 16px;
	border-radius: 16px;
}

.testAnswers {
	margin: 0 auto;
	border: 1.8px solid rgb(9, 147, 191);
	align-self: flex-start;
	flex-direction: 'row';
	justify-content: 'space-between';
	font-size: 18px;
	width: 550px;
	height: 80px;
	text-align: center;
	/*background-color: lightgray;*/
	justify-items: flex-end;
	padding: 16px;
	border-radius: 16px;
	box-shadow: 5px 5px 10px 2px rgba(81, 81, 81, 0.8);
	box-shadow: 5px 5px 10px 2px rgba(255, 255, 255, 0.8);
	font-family: 'Nunito';

}

.answerBox {
	margin: 0 auto;
	align-self: flex-start;
	flex-direction: 'row';
	justify-content: 'space-between';

	width: auto;
	height: 25%;
	background-color: lightgray;
	justify-items: flex-end;
	padding: 16px;
	border-radius: 16px;
}

.push {
	margin-left: auto;
}

.rowC {
	display: flex;
	flex-direction: row;
}

.fontLink {
	font-family: 'Montserrat', sans-serif;
	size: 40;
}


.quizflexParentElement {
	display: flex;
	width: 100%;
	height: auto;
	border: 1px black;

}

.quizflexChildElement {
	flex: 1;
	margin: 10px;
	height: auto;
	border: 1px black;

}

.quizflexSmallerElement {
	flex: auto;
	margin: 10px;
	height: 0;
	align-self: flex-start;
	justify-content: 'space-between';
	border: 1px black;
	text-align: center;

}

.submit {
	margin: 0 auto;
	border: 3px solid lightcyan;
	width: 200px;
	height: auto;
	text-align: center;
	background-color: lightgray;
	justify-items: flex-start;
	padding: 16px;
	border-radius: 16px;
	font-family: 'Nunito';
	font-weight: 300rem;
}

.quizbubbleRight {
	position: absolute;
	top: 5%;
	margin-bottom: 200rem;
	left: 900px;
	/* Adjust this value as needed */
	top: 30px;
	transform: translateX(100rem);
	transform: rotate(260deg);
}

.bubbleLeft {
	position: absolute;
	top: 50%;
	left: 133px;
	/* Adjust this value as needed */
	transform: rotate(180deg);
}

.circleRight {
	margin-left: 30rem;
	height: 200px;
	top: 90%;
	left: 303px;
	/* Adjust this value as needed */
	opacity: .5;
}

.check {
	margin-right: 75rem;
	transform: translateY(3.5rem);
	margin-top: -10rem;
}

.pinkCircle {
	position: absolute;
	margin-right: -5rem;
	margin-top: -20rem;
	margin-left: 15rem;
	transform: scale(.7);
}

.blueCircle {
	position: absolute;
	margin-right: 80rem;
	margin-top: -20rem;
	margin-left: -40rem;
	transform: scale(.5);
}

.libraryVid {

	border: 1px solid rgb(9, 147, 191);
	width: 250px;
	height: 200px;
	text-align: center;
	background-color: lightgray;
	justify-items: center;
	padding: 16px;
	border-radius: 16px;
	border: 3px solid lightcyan;
	margin-left: 5rem;
}

.testAnswers:hover {
	color: white;
	cursor: pointer;
	background-color: rgb(103, 163, 217);

}

.submit:hover {
	color: white;
	cursor: pointer;
	background-color: rgb(246, 210, 224);
}

.libraryVid:hover {
	color: white;
	cursor: pointer;
	background-color: rgb(177, 177, 177);

}

.small-box {
	margin-top: 1%;
}

.black-btn {
	background-color: black;
}

.white-btn {
	background-color: white;
}

.onClick {
	margin: 0 auto;
	align-self: flex-start;
	flex-direction: 'row';
	justify-content: 'space-between';
	font-family: 'Montserrat';
	font-size: 18px;
	font-style: normal;
	border: 1px solid rgb(9, 147, 191);
	width: 550px;
	height: 70px;
	text-align: center;
	background-color: lightgray;
	justify-items: flex-end;
	padding: 16px;
	border-radius: 16px;
	box-shadow: 5px 5px 10px 2px rgba(81, 81, 81, 0.8);

}

.onClick:hover {
	color: rgb(103, 163, 217);
	cursor: pointer;
	background-color: rgb(103, 163, 217);
}

.btns {

	background-color: rgb(0, 255, 213);

}

.btns:active {

	background-color: rgb(123, 180, 17);

}

.vidDiv {

	width: auto;
	height: 50%;
	margin-left: 10%;
	margin-right: 10%;
	justify-items: flex-start;
	text-align: justify;
	align-items: center;
	background-color: gray;

}