@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Nunito&display=swap');

.pageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.summaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 45px;
}

.headerText h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 0;    
    color: #000000;
}

.headerText p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;

}

.summary {
    background: #F0F0F0;
    border-radius: 20px;
    width: 1001px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito';
    font-size: 20px;
    padding: 50px;
    line-height: 1.5;
    text-align: center;
}


.pdfBtn {
    background: black;
    border-radius: 10px;
    width: 202px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.backBtn {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    top: 43%;
    left: 19%;
	background-color: black;
	padding-right: 4px;
	border-radius: 10px;
    width: 67px;
    height: 30px;
}

.backBtn:hover {
	cursor: pointer;
	background-color: #666;
  }