
.VideoLinkInput{
    text-align: center;
}

body {
    background-color:rgb(217, 233, 240);
  }
  

 h3 {

    text-align:justify;
    margin-left: -5rem;
    align-items: center;
  }


  .headtext{
    position: relative;
  }
  
  
  .general3 {
    width: 400px;
    height: 50px;
    text-align: justify;
    background-color: white;
    justify-items: flex-start;
    padding: 16px;
    border-radius: 16px;
  }
  
  .general4 {
    width: 400px;
    height: 50px;
    text-align: justify;
    background-color: yellow;
    justify-items: flex-end;
    padding: 16px;
    border-radius: 16px;
  }
  
  
  .next-box {
    margin: auto;
    background-color: rgb(217, 233, 240);
    padding: 16px;
    border-radius: 16px;
    color: white;
    width: 80%;
    height: 20px;
    text-align:start;
  }
  
  
  .flex-parent-element {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

  }
  
  .flex-child-element {
    flex: 1;
    margin: px;
    height: auto;
    justify-content: center;
    
  }

  
  .submit {
    margin: 0 auto;
    border: 3px solid lightcyan;
    width: 200px;
    height: auto;
    text-align: center;
    background-color: lightgray;
    justify-items: flex-start;
    padding: 16px;
    border-radius: 16px;
  
    
  }
  
  
  .circle-right {
    margin-left: 30rem;
    height: 200px;
    top: 90%;
    left: 303px; 
  
  }
  
  .check {
    margin-right: 75rem;
    transform: translateY(3.5rem);
    margin-top: -10rem;
  }

  .submit:hover {
    color: white;
    cursor: pointer;
    background-color:  rgb(246, 210, 224);
  }

 .videolink-text-on-image {
   position: absolute;
   right: 50%;
   left: 50%;
   bottom: 45%;
 }

 .videolink-hero-search { /* search bar */
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #B9E1F2;
  border-radius: 15px;
  width: 600px;
  height: 61px;
  display: flex;
  left: -10%;
  bottom: -25%;
  position: absolute;
  margin-left: -18rem;



}

.videolink-input {
  appearance: none;
  border: none;
  outline: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 22px; */
  color: #757575;
  margin-left: 1rem;
  width: 100%;
}



.videolink-search-button {
  width: 130px;
  height: 29px;
  border: 0;
  border-radius: 10px;   
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 1rem;
}
 


  
  